.card {
    transition: transform 0.2s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.cardContent {
    background-color: #f5f5f5;
    padding: 1rem;
}

.cardTitle {
    font-weight: bold;
}

.cardAddress,
.cardLocation,
.cardDetails {
    color: #555;
}

.link {
    text-decoration: none;
}

.container {
    height: 100%;
    width: 100%;
    min-width: 100%;
    padding: 20px;
}
